<%- include('../../partials/header.ejs'); %>
    <%- include('../../partials/navbar.ejs'); %>
        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                    <h2>Criar novo Artigo</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/articles/update">
                        <input type="text" name="title" placeholder="Ex: Programação...." class="form-control"
                            value="<%= articles.title %>">
                        <input type="hidden" name="id" value="<%= articles.id %>">
                        <textarea class=" form-control" id="article" name="body" placeholder="Escreva aqui..."
                            style="resize: none;"><%= articles.body %></textarea>
                        <br>
                        <h5>Categorias</h5>
                        <select name="category" class="form-select">
                            <% categories.forEach((category)=>{ %>
                                <option value="<%= category.id %>">
                                    <%=category.title%>
                                </option>
                                <%})%>
                        </select>
                        <br>
                        <button class="btn " type="submit">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../../partials/footer.ejs'); %>
            <script src="/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    selector: "#article",
                    language: "pt_BR",
                    plugins: [
                        'advlist',
                        'autolink',
                        'link',
                        'image',
                        'lists',
                        'print',
                        'preview',
                        'hr',
                        'searchreplace',
                        'wordcount',
                        'fullscreen',
                        'inserdatetime',
                        'media',
                        'save',
                        'table',
                        'paste',
                        'code',
                        'emoticons'
                    ]
                })

            </script>