<%- include('partials/header.ejs') %>
    <%- include('partials/homenavbar.ejs') %>

        <body>
            <br>
            <div class="container">
                <a class="btn mb-3" id="error-back" href="/home">Voltar <i class="bi bi-arrow-counterclockwise"></i></a>
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>
                            <%= articles.title %>
                        </h2>
                    </div>
                    <div class="card-body">
                        <%- articles.body %>
                    </div>
                </div>
               
            </div>
        </body>
        <%- include('partials/footer.ejs') %>