<%- include('partials/header.ejs') %>
    <%- include('partials/homenavbar.ejs') %>

        <body>
            <div class="container">
                <div class="jumbotron mt-3">
                    <div class="title" style="display: flex; flex-direction: row;">
                        <h1 class="display-4">Wiki-</h1>
                        <h1 class="display-4" style="color: brown;">iD</h1>
                    </div>
                    <p class="lead">
                        A Control iD é uma indústria 100% brasileira, especializada no desenvolvimento de
                        hardwares e softwares para segurança eletrônica, automação comercial e gestão de recursos
                        humanos. Com o objetivo de atender as necessidades e superar as expectativas de micro, pequenas,
                        médias e grandes empresas de todos os setores de atividade, investe constantemente em pesquisa e
                        inovação, atuando no mercado brasileiro com as mais recentes tecnologias a preços convidativos.
                    </p>
                    <hr class="my-4">
                </div>
                <br>
                <div class="container home-container">
                    <% articles.forEach(article=> { %>

                        <div class="card home-card">
                            <div class="card-header">
                                <h3>
                                    <%= article.title %>
                                </h3>
                            </div>
                            <div class="card-body card-body-home">
                                <a href="/<%=  article.slug %>" class="btn btn-success">Visualizar</a>
                            </div>
                        </div>
                        <br>
                        <% }) %>
                        <div class="row">
                            <div class="col col-12">
                                <a href="/articles/page/2" style="float: right;" class="btn btn-success mb-3">
                                    Next >>
                                </a>
                            </div>
        
                        </div>
                </div>

            </div>
        </body>
        <%- include('partials/footer.ejs') %>