<%- include('../../partials/header.ejs'); %>
    <%- include('../../partials/navbar.ejs'); %>
        <div class="container mt-3">
            <h2>Vistorias</h2>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <a href="/admin/inspections/new" class="btn ">Cadastrar Vistoria</a>
                <table class="table table-bordered inspection-home">
                    <thead>
                        <tr>
                            <th>Vendedor</th>
                            <th>Empresa</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
            </div>
            <div class="card-body">
                <tbody>
                    <% inspections.forEach(inspection=> { %>
                        <tr>
                            <th>
                                <%= inspection.vendor %>
                                <th>
                                    <%= inspection.enterprise %>
                                </th>
                                <th>
                                    <% if(inspection.status == "Concluido"){ %>
                                        <button  class="btn  complete"  data-toggle="tooltip" title="Concluido" type="button"> </button>
                                     <% } else if(inspection.status == "Pendente Cliente" || inspection.status == "Pendente Técnico") { %> 
                                        <span  class="btn  pending-client" data-toggle="tooltip" title="Pendente Cliente/Tecnico" type="button"> </span>
                                    <% } else if(inspection.status == "Em Andamento") { %> 
                                        <span  class="btn  in-progress"  data-toggle="tooltip" title="Em Andamento" type="button"> </span> 
                                     <%}%> 
                                </th>
                            <th>
                                <a href="/admin/inspections/edit/<%= inspection.id %>" class="btn btn-warning">Editar</a>
                                <form action="/inspections/delete" method="post" , style="display: inline;"
                                    onsubmit="deleteConfirm(event, this)">
                                    <input type="hidden" name="id" value="<%= inspection.id %>">
                                    <button class="btn btn-danger" type="submit">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
                </table>
            </div>
        </div>


        <%- include('../../partials/footer.ejs'); %>

            <script>
                function deleteConfirm(e, form) {
                    e.preventDefault();

                    let userInputYes = confirm('Deseja realmente deletar esta vistoria?');

                    if (userInputYes) {
                        form.submit();
                    } else {
                        return;
                    }
                }
            </script>